body {
    overflow-x: hidden !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.infinite-scroll-component {
    overflow: hidden;
}
.react-top-loading-bar-progress {
    font-size: 0;
}
.infinite-scroll-component::before {
    content: "";
  }
  